{
  "singleAttributePerLine": true,
  "singleQuote": true,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "strict"
}
